{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Dashboard{% endblock title %}</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/overlayscrollbars@1.13.3/css/OverlayScrollbars.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css">

  {% block extrastyle %}{% endblock extrastyle %}
</head>
<body class="{% block bodyclass %}hold-transition sidebar-mini layout-fixed{% endblock bodyclass %}">

<div class="wrapper">
  {% block header %}
    {% include 'includes/navigation-light.html' %}
  {% endblock header %}

  {% block sidebar %}
    {% include 'includes/sidebar.html' %}
  {% endblock sidebar %}

  {% block content %}{% endblock content %}

  {% block footer %}
    {% include 'includes/footer.html' %}
  {% endblock footer %}
</div>

{% include 'includes/scripts.html' %}
{% block extra_scripts %}{% endblock extra_scripts %}

</body>
</html>
