{% extends 'layouts/base.html' %}

{% block title %}TG Yuk Monitor{% endblock title %}

{% block bodyclass %}hold-transition sidebar-mini layout-fixed{% endblock bodyclass %}

{% block content %}
<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">{% block page_header %}{% block page_title %}TG Yuk Monitor{% endblock page_title %}{% endblock page_header %}</h1>
        </div>
        <div class="col-sm-6">
          {% block breadcrumbs %}{% endblock breadcrumbs %}
        </div>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="container-fluid">
      {% block page_content %}{% endblock page_content %}
    </div>
  </section>
</div>
{% endblock content %}
